<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/fragments/layout::layout('文章资讯', ~{::body})}">
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <legend>资源管理器</legend>
                <div class="Huialert Huialert-info">
                    <span th:text="|当前路径：${currentDir}|"></span>
                </div>
                <span>
                    <a class="btn btn-secondary radius" th:href="|@{/admin/explorer/}${up}|" data-toggle="tooltip" data-placement="right" title="返回上层">
                        <i class="Hui-iconfont">&#xe684;</i>
                    </a>
                </span>
                <table class="table table-bg table-border table-striped table-hover radius">
                    <thead>
                        <th>文件名</th>
                        <th>路径</th>
                        <th>操作</th>
                    </thead>
                    <tr th:each="dir : ${dirlist}">
                        <td><a th:href="@{|/admin/explorer/${util.relative(dir)}|}" th:text="|[${dir.getFileName()}]|"></a></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr th:each="file: ${filelist}">
                        <td><a href="javascript:;" th:text="${file.getFileName()}"></a></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>