<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/fragments/layout::layout('资源管理器', ~{::body})}">
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <legend style="color: #222; text-shadow: 0px 1px 1px #555;">资源管理器</legend>
                <div class="Huialert Huialert-info" style="color: #222; text-shadow: 0px 1px 1px #555; margin-bottom: 5px;">
                    <span th:text="|当前路径：${currentDir}|"></span>
                </div>
                <div class="btn-group l ml-5">
                    <a class="btn btn-secondary" th:href="|@{/admin/explorer/}${up}|" data-toggle="tooltip" data-placement="right" title="返回上层">
                        <i class="Hui-iconfont">&#xe679;</i>
                    </a>
                </div>
                <table class="table table-bg table-border table-striped table-hover radius" style="color: #222; text-shadow: 0px 1px 1px #555;">
                    <thead>
                        <th>文件名</th>
                        <th>操作</th>
                    </thead>
                    <tr th:each="dir : ${dirlist}">
                        <td><i class="Hui-iconfont">&#xe639;</i><a th:href="@{|/admin/explorer/${util.relative(dir)}|}" th:text="${dir.getFileName()}" th:attr="data-path=${util.w(util.relative(dir).toString())}"></a></td>
                        <td><a href="javascript:;" onclick="del(this)" th:attr="data-path=${util.w(util.relative(dir).toString())}">删除</a></td>
                    </tr>
                    <tr th:each="file: ${filelist}">
                        <td>
                            <div th:if="${allowimgs.contains(futil.extensionName(file.getFileName().toString()))}">
                                <img class="img-responsive thumbnail" width="100" th:src="|/${util.w(util.relative(file).toString())}|" alt="图片预览" />
                            </div>
                            <div>
                                <i class="Hui-iconfont">&#xe63e;</i>
                                <a href="javascript:;" onclick="edit(this)" th:text="${file.getFileName()}" th:attr="data-path=${util.w(util.relative(file).toString())}"></a>
                            </div>
                        </td>
                        <td><a href="javascript:;" onclick="del(this)" th:attr="data-path=${util.w(util.relative(file).toString())}">删除</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function edit(obj) {
            layer_show('文件打开器', '[[@{/admin/file/}]]' + $(obj).attr('data-path'), 900, 800);
        }
        function del(obj) {
            layer.confirm('真的要删除 ' + $(obj).attr('data-path') + ' 吗？', function(index) {
                $.get('[[@{/admin/file/del/}]]?path=' + $(obj).attr('data-path'), function(data, status) {
                    if(status == 'success') {
                        layer.msg(data + ' 已删除！', function() {
                            window.location.reload();
                        });
                    } else {
                        layer.msg('删除失败！' + status);
                    }
                });
            });
        }
    </script>
</body>
</html>